.container {
    max-width: var(--max-width);
    width: 60vw;
    font-size: 1rem;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title>span {
    padding-bottom: 1rem;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: var(--green-fade-out);
}

.projectList {
    display: flex;
    flex-direction: column;
}

.projectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 10px 0;
}

.cover {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionButtons>button {
    border: none;
    background: inherit;
    color: var(--foreground-rgb);
    padding: 10px;
    cursor: pointer;
    transition-duration: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionButtons>button:hover {
    color: var(--rcm-green);
}

.edit {
    font-size: 1.25rem;
    color: var(--foreground-rgb);
    padding: 10px;
    margin-right: 20px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.edit:hover {
    color: var(--rcm-green);
}


/* Mobile */
@media (max-width: 700px) {
    .container {
        width: 90vw;
        font-size: 1rem;
        min-width: 350px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}