
.carousel_container {
  margin: 20px;
}

.selected_container {
    margin-bottom: 10px;
    height: 480px;
    display: flex;
    justify-content: center;
}

.selected_image {
  width: auto;
  height: 480px;
}

.carousel {
  position: relative;
}

.carousel__images {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  height: 160px;
}

.carousel__image_selected {
  border: 3px solid var(--rcm-green) !important;
}

.carousel__image {
  margin-right: 10px;
  height: 156px;
  min-width: 156px;
  border: 3px solid #ffa70000;
}

.carousel__button {
  position: absolute;
  top: 40%;
  color: var(--rcm-green);
  font-size: 1.25rem;
  background-color: #111;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.carousel__button:hover {
    background-color: var(--rcm-green);
    color: #111;
}

.carousel__button_left {
  left: 10px;
}

.carousel__button_right {
  right: 10px;
}

@media screen and (max-width: 848px) {
    .carousel_container {
        width: 100%;
        margin: 10px 0;
    }

    .selected_container {
        max-width: 100%;
        height: 250px;
    }

    .selected_image {
        max-width: 100%;
        max-height: 400px;
        height: auto;
        margin: 10px 0;
    }
    
    .carousel__image {
        margin-right: 5px;
    }
}