.container {
  width: 100%;
  margin: 10px auto 40px;
}

.description {
  text-align: center;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    font-size: 0.8rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: light) {}