.hero {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.list {
  margin-left: 3rem;
  list-style: none;
}

.list>li::before {
  content: "\25B7";
  color: var(--rcm-green);
  padding-right: 1rem;
  font-size: 1rem;
}


/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}