.sandbox {
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
}

.sandbox__carousel {
  background-color: var(--background-start-rgb);
}

.sandbox__carousel {
  position: relative;
}

@media (min-width: 750px) {
  .sandbox__carousel {
    border-radius: 0.4rem;
  }
}

.sandbox__header {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 4rem 2rem 2rem 2rem;
}

.sandbox__header>span {
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--green-fade-out);
}

.headerImage {
  width: 67rem;
  max-width: var(--max-width);
  height: auto;
  align-self: center;
}

.intro {
  max-width: 67rem;
}

.intro p {
  text-align: justify;
}

/* Mobile */
@media (max-width: 700px) {
  .sandbox {
    width: 100vw;
  }

  .headerImage {
    width: 95vw;
  }

  .intro {
    font-size: 1.15rem;
  }

  .intro p {
    padding: 1.6rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .sandbox {
    max-width: 100vw;
  }

  .headerImage {
    width: 90vw;
  }

  .intro {
    font-size: 1.2rem;
  }
}