.nav {
    position: sticky;
    z-index: 30;
    top: 0;
    display: flex;
    padding: 5px 15px 5px 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: rgba(var(--foreground-rgb), 0.8);
}

.nav__menu_bar {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
}

.nav__menu_bar div {
    width: 40px;
    height: 4px;
    background-color: var(--rcm-green);
    border-radius: 2px;
}

.nav__menu_list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 40vw;
    row-gap: 24px;
    right: -40vw;
    padding: 24px 16px;
    transition: all 0.2s;
    min-height: calc(100vh - 50px);
    background-color: inherit;
}

.nav__menu_list.active {
    right: 0;
}

.nav__link {
    font-size: 1.15rem;
    position: relative;
    transition: all 0.2s;
    display: block;
}

.nav__link:hover {
    color: rgba(var(--foreground-rgb), 1);
    transition: all 0.2s;
}

@media screen and (min-width: 701px) {
    .nav__menu_bar {
        display: none;
    }

    .nav__menu_list {
        position: unset;
        flex-direction: row;
        min-height: fit-content;
        width: fit-content;
        column-gap: 24px;
        align-items: center;
    }

    .nav__link::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 3px;
        bottom: -10px;
        left: 0;

        background-image: var(--green-fade-out);

        transition: all 0.25s;
    }

    .nav__link:hover:before {
        width: 100%;
    }
}