.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  color: rgba(var(--foreground-rgb), 0.8);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card>h3 {
  font-size: 1.25rem;
  margin-bottom: 0.7rem;
}

.card p {
  padding-top: 10px;
  opacity: 0.6;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 40ch;
  text-align: justify;
  text-justify: auto;
}

.card__image {
  height: auto;
  max-width: 360px;
  max-height: 480px;
  margin: 0px auto;
}

.arrow {
  color: var(--rcm-green);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
  }

  .card {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .card>h2 {
    font-size: 1.3rem;
  }

  .card__image {
    max-width: 80vw;
    height: auto;
  }

}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: 67vw;
    margin: auto;
    display: block;
  }

  .card {
    margin-bottom: 2rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: light) {
  .arrow {
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    padding-left: 2px;
  }

  .card:hover .arrow {
    background-color: rgba(5, 5, 5, 1);
  }
}