.grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    max-width: var(--max-width);
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 40ch;
}

.card__image {
  /* width: 360px; */
  height: auto;
  max-width: 360px;
  max-height: 480px;
  margin: 0px auto;
}

.arrow {
  color: var(--rcm-green);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 864px) {

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    text-align: center;
  }

  .card {
    padding: 1rem .5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .card__image {
    width: 360px;
    height: auto;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 865px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: light) {
  .arrow {
    background-color: #111;
  }
}