.project {
    display: flex;
    flex-direction: column;
}

.cover {
    height: 150px;
    width: auto;
    object-fit: scale-down;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button,
.uploadButton,
.removeButton,
.editButton {
    font-size: 1.25rem;
    /* margin-right: 20px; */
    background-color: inherit;
    /* border: 1px solid var(--rcm-green); */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

button.uploadButton,
button.removeButton,
button.editButton {
    width: 31%;
    /* (31% * 3) + (1% * 6) = 99% */
    margin: 10px 1%;
    display: inline-block;
}

.editButton:disabled,
.editButton[disabled],
.editButton:disabled:hover,
.editButton[disabled]:hover,
.removeButton:disabled,
.removeButton[disabled],
.removeButton:disabled:hover,
.removeButton[disabled]:hover {
    background-color: inherit;
    color: #333;
    border: none;
}

button.uploadButton {
    color: var(--foreground-rgb);
    border: 1px solid var(--rcm-green-80);
}

button.uploadButton:hover {
    background-color: var(--rcm-green-80);
}

button.removeButton {
    color: var(--foreground-rgb);
    border: 1px solid rgba(255, 0, 0, 0.8);
}

button.removeButton:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

button.editButton {
    color: var(--foreground-rgb);
    border: 1px solid rgba(255, 255, 40, 0.8);
}

button.editButton:hover {
    background-color: rgba(255, 255, 40, 0.8);
}

.buttons button:hover,
.uploadButton:hover,
.removeButton:hover {
    color: rgba(var(--foreground-rgb), 0.8);
}

.save {
    color: var(--rcm-green-80);
}

.cancel {
    color: red;
}

.imageInfo {
    display: flex;
    flex-direction: row;

}

.imageInfo>select {
    padding: 0 5px;
    margin: 0 10px 10px;
}

.imageInfo__images {
    min-width: 200px;
}

.imageInfo__alts {
    min-width: 350px;
}


.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip .right {
    min-width: 75px;
    max-width: 150px;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 10px 20px;
    color: #222222;
    background-color: #EEEEEE;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    border: 1px solid #111111;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .right {
    visibility: visible;
    opacity: 1;
}

.tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #EEEEEE;
    border: 1px solid #111111;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}



/* Mobile */
@media (max-width: 700px) {
    .imageInfo {
        flex-direction: column;
    }

    .buttons>button,
    .uploadButton,
    .removeButton,
    .editButton {
        font-size: 1rem;
        width: 90%;
    }

    button.uploadButton,
    button.removeButton,
    button.editButton {
        width: 31%;
        /* (31% * 3) + (1% * 6) = 99% */
        padding: 5px 0;
        margin: 0;
        display: inline-block;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}