.project {
    display: flex;
    flex-direction: column;
}

.cover {
    height: 150px;
    width: auto;
    object-fit: scale-down;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons>button,
.uploadButton {
    font-size: 1.25rem;
    /* margin-right: 20px; */
    background-color: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

button.uploadButton {
    width: 40%;
    margin: auto;
}

.buttons>button:hover,
.uploadButton:hover {
    color: var(--foreground-rgb);
}

.save {
    color: lightgreen;
}

.cancel {
    color: red;
}

.save:hover {
    background-color: lightgreen;
}

.cancel:hover {
    background-color: red;
}

.imageInfo {
    display: flex;
    flex-direction: row;

}

.imageInfo>select {
    padding: 0 5px;
    margin: 0 10px 10px;
}

.imageInfo__images {
    min-width: 200px;
}

.imageInfo__alts {
    min-width: 350px;
}


/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}