.form form {
    display: table;
    min-width: 600px;
    width: 40vw;
    margin: 0 auto;
    padding: 3rem 0;
}

.form label {
    display: table;
    width: 100%;
    margin-bottom: 0.5rem;
    color: var(--rcm-green-60);
}

.form input {
    display: table;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}

.form textarea {
    overflow-y: scroll;
    resize: none;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--rcm-green-80);
}

.form button {
    display: table;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
    background-color: var(--rcm-green);
    cursor: pointer;
}

.form button:hover {
    background-color: var(--rcm-green-80);
    color: var(--foreground);
}

/* Mobile */
@media (max-width: 700px) {
    .form form {
        min-width: 320px;
        width: 90vw;
    }

    .form input,
    .form textarea {
        width: 90vw;
        min-width: 320px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .form form {
        min-width: 400px;
        width: 60vw;
    }

    .form input,
    .form textarea {
        width: 60vw;
        min-width: 400px;
    }
}