.listContainer {
    /* border: 1px dashed lightgoldenrodyellow; */
}

.projectNav {
    position: fixed;
    min-width: 300px;
    display: flex;
    flex-direction: column;

    /* border: 1px dashed white; */
}

.projectNav h3 {
    align-self: center;
    margin-bottom: 1rem;
}

.navLink {
    border: none;
    background: inherit;
    font: inherit;
    cursor: pointer;
    color: inherit;
    transition: color 200ms ease-in-out;
    padding: 0.5rem;
}

.navLink:hover {
    color: var(--rcm-green-40);
}

.navLink__selected {
    color: var(--rcm-green);
}

.rightCol {
    /* width = projectNav width */
    max-width: var(--max-width);
    margin: auto auto auto 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

.card {
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0.2);
    color: var(--foreground-rgb);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card>h2 {
    font-size: 2.4rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.card>h2>span {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--green-fade-out);
    transition: background 200ms;
}

.card:hover {
    background: rgba(var(--card-rgb), 0.3);
}

@media (prefers-color-scheme: light) {
    .card>h2>span {
        border-bottom: 1px solid rgba(var(--card-rgb), 0.2);
        border-image-source: linear-gradient(to right,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0));
    }
}

/* Mobile */
@media (max-width: 700px) {

    .projectNav {
        position: relative;
        margin: auto;
        align-items: center;
        padding-bottom: 2rem;
        font-size: 1rem;
    }

    .navLink {
        padding: 0.25rem;
    }

    .rightCol {
        width: 100%;
        margin-left: 0;
    }


    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
    }

    .card {
        padding: 1rem;
    }

    .card>h2 {
        font-size: 1.4rem;
    }

    .card__image {
        max-width: 90vw;
        height: auto;
    }

}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .projectNav {
        position: relative;
        margin: auto;
        align-items: center;
        padding-bottom: 2rem;
        font-size: 1.2rem;
    }

    .rightCol {
        width: 100%;
        margin-left: 0;
    }

    .navLink {
        padding: 0.25rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin: auto;
        display: block;
    }

    .card {
        padding: 1rem;
    }
}